/* General definitions */
.floatLeft { float: left; margin: 0px !important; padding: 0px !important; }
.floatRight { float: right; margin: 0px !important; padding: 0px !important; }
.clearBoth { clear: both; }

/* User -> Authentication -> Dashboard */
#hybridauth_dashboard_wrapper {}
#hybridauth_details_wrapper { /*width: 445px;*/ }
#hybridauth_details { /*background: #EEE; padding: 20px;*/ margin-right: 20px; }
#hybridauth_details .provider { background: #DDD; padding: 10px; margin-bottom: 5px; }
#hybridauth_details .provider:hover { background: #CCC; color: #000; }
#hybridauth_details .provider .icon_wrapper { width: 32px; height: 32px; }
#hybridauth_details .hybridauth_header { text-align: left; }
#hybridauth_providers_wrapper { /*width: 360px;*/ }
#hybridauth_providers { /*background: #EEE; padding: 20px;*/ margin-top: 15px; }
#hybridauth_profivers .hybridauth_header { text-align: left; }

/* User -> Authentication -> [service name] */
.user_photo { margin: 10px; text-align: center; }

/* HybridAuth widget */
.hybridauth_header { text-align:center;margin:10px 0px; }
#hybridauth_widget { /*width: 320px;*/ }
#hybridauth_widget .providers {}
#hybridauth_widget .provider {  }
#hybridauth_widget .provider .icon{ cursor: pointer; cursor: hand; }
#openidm { margin: 7px; }
#openidun { padding: 5px; margin:7px;border: 1px solid #999; }
#openidbtn { height:33px;width:85px; }